---
title: orders
menu:
  main
---
<p>Please fill in the form below. I will get back to you shortly.</p>
<p style="text-indent: 0;">When your cake is ready, you can pick it up at Cafe
Neundrei, Monbijouplatz 2, 10178 Berlin.</p>
<div style="margin: 2em 0;">
  <form
    name="orders"
    method="post"
    action="/thanks/"
    data-netlify-honeypot="bot-field"
    data-netlify="true"
  >
    <input type="hidden" name="form-name" value="orders" />
    <div class="form-group">
      <label for="servings">servings</label>
      <input
        type="number"
        class="form-control"
        name="servings"
        id="servings"
        value="2"
        min="2"
        max="120"
        required
        style="width: 3em;"
      />
    </div>
    <fieldset class="form-group">
      <legend>shape</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="shape"
            value="round"
            required
            checked
          />
          round
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="shape"
            value="square"
            required
          />
          square
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend>style</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="style"
            value="naked"
            required
            checked
          />
          naked
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="style"
            value="semi-naked"
            required
          />
          semi-naked
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="style"
            value="fully covered"
            required
          />
          fully covered
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="style"
            value="textured butter cream"
            required
          />
          textured butter cream
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="sponge-flavour">cake sponge flavour</label>
      <input
        type="text"
        class="form-control"
        name="sponge-flavour"
        id="sponge-flavour"
        required
      />
    </div>
    <div class="form-group">
      <label for="cream-flavour">cream flavor</label>
      <input
        type="text"
        class="form-control"
        name="cream-flavour"
        id="cream-flavour"
        required
      />
    </div>
    <fieldset class="form-group">
      <legend>cream type</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="cream-type"
            value="cream cheese"
            required
            checked
          />
          cream cheese
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="cream-type"
            value="yoghurt"
            required
          />
          yoghurt
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="cream-type"
            value="mousse"
            required
          />
          mousse
        </label>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend>color scheme</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="color-scheme"
            value="white"
            required
            checked
          />
          white
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="color-scheme"
            value="dark"
            required
          />
          dark
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="color-scheme"
            value="marble"
            required
          />
          marble
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="color-scheme"
            id="color-scheme-specific"
            value="specific"
            required
          />
          specific
        </label>
        <div id="color-scheme-specific-container">
          <label for="color-scheme-specific-value" class="sr-only">specific color scheme</label>
          <input
            class="form-control"
            type="text"
            name="color-scheme-specific-value"
            id="color-scheme-specific-value"
            style="margin-left: -1.25rem; margin-top: 0.25rem;"
            placeholder="type here"
          />
        </div>
        <script>
          (function () {
            var checkbox = document.getElementById('color-scheme-specific');
            var container = document.getElementById('color-scheme-specific-container');
            var input = document.getElementById('color-scheme-specific-value');
            function toggle() {
              if (checkbox.checked) {
                container.style.display = 'block';
              } else {
                container.style.display = 'none';
                input.value = '';
              }
            }
            var inputs = document.getElementsByName('color-scheme');
            for (var i = 0; i < inputs.length; i++) {
              inputs[i].addEventListener('click', toggle);
            }
            toggle();
          })();
        </script>
      </div>
    </fieldset>
    <fieldset class="form-group">
      <legend>extras</legend>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="fresh fruit"
            required
          />
          fresh fruit
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="herbs"
            required
          />
          herbs
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="flowers"
            required
          />
          flowers
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="dried roses"
            required
          />
          dried roses
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="chocolate decoration"
            required
          />
          chocolate decoration
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input
            class="form-check-input"
            type="radio"
            name="extras"
            value="none"
            required
            checked
          />
          none
        </label>
      </div>
    </fieldset>
    <div class="form-group">
      <label for="picture">picture for inspiration / mood (optional)</label>
      <input
        type="text"
        class="form-control"
        name="picture"
        id="picture"
        placeholder="https://example..."
      />
      <small>please insert a link</small>
    </div>
    <div class="form-group">
      <label for="wishes">extra wishes / comments / questions (optional)</label>
      <textarea
        class="form-control"
        name="wishes"
        id="wishes"
        rows="8"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="name">your name</label>
      <input type="text" class="form-control" name="name" id="name" required />
    </div>
    <div class="form-group">
      <label for="email">your email</label>
      <input
        type="text"
        class="form-control"
        name="email"
        id="email"
        placeholder="email@example.com"
        required
      />
    </div>
    <div class="hidden">
      <label
        >Don’t fill this out if you're human: <input name="bot-field"
      /></label>
    </div>
    <div style="margin-top: 2em;">
      <button type="submit">Send</button>
    </div>
  </form>
</div>
